### Combining Dataframes

In [1]:
import pandas as pd

In [2]:
import numpy as np

* Concatenation is simply pasting the two Dataframes together, by columns:

In [3]:
data_one = {
    'A': ['A0','A1','A2','A3'],
    'B': ['B0','B1','B2','B3']
}
data_two = {
    'C': ['C0','C1','C2','C3'],
    'D': ['D0','D1','D2','D3']
}

In [8]:
df1 = pd.DataFrame(data_one)
df2 = pd.DataFrame(data_two)

# Concatenate column-wise
data_by_column = pd.concat([df1, df2], axis=1)
print(data_by_column)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [9]:
data_by_row = pd.concat([df1,df2], axis=0) # fills up NaN values data os not there
print(data_by_row)

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
3   A3   B3  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1
2  NaN  NaN   C2   D2
3  NaN  NaN   C3   D3

* Often Dataframes are not in the exact same order or format, meaning we can not simply concatenate them togehter
* In such cases we need to merge the Dataframes

### Merge

In [11]:
reg = pd.DataFrame(
    { 'reg_id': [1,2,3,4],
      'name': ['A','B','C','D']
    }
)

In [12]:
login = pd.DataFrame(
    {
        'log_id' : [1,2,3,4],
        'name': ['X','Y','A','B']
    }
)

* inner join

In [14]:
pd.merge(reg,login, how='inner',on = 'name')

   reg_id name  log_id
0       1    A       3
1       2    B       4

* outer join

In [15]:
pd.merge(reg,login, how='outer',on = 'name')

   reg_id name  log_id
0     1.0    A     3.0
1     2.0    B     4.0
2     3.0    C     NaN
3     4.0    D     NaN
4     NaN    X     1.0
5     NaN    Y     2.0

* left join

In [16]:
pd.merge(reg,login, how='left',on = 'name')

   reg_id name  log_id
0       1    A     3.0
1       2    B     4.0
2       3    C     NaN
3       4    D     NaN

* right join

In [17]:
pd.merge(reg,login, how='right',on = 'name')

   reg_id name  log_id
0     NaN    X       1
1     NaN    Y       2
2     1.0    A       3
3     2.0    B       4