##### Strings are immutable
* string object does not support item assignment
* None of the string manipulations examples below 
changes the original string object,it never can :)

In [3]:
car = "Wagon-R"
# car[1] = "o" # will throw error at runtime
car

'Wagon-R'

##### String value can always be changed

In [5]:
car = "HONDA-CIVIC"
car

'HONDA-CIVIC'

#### String Methods
* white space is also counted as a character

In [ ]:
a = len(car)
a # prints the length of the character in the string

11

##### upper() returns a capitized string like below

In [15]:
name = "mansi"
# here new string is created 
# does not change the original string 
print(f"new string: {name.upper()},  original string: {name}")

new string: MANSI,  original string: mansi

#### lower() returns the string as a lower case string

In [16]:
bike = "CBZ"
bike.lower()

'cbz'

##### capitalize() converts the first char of the string as Capital

In [21]:
str = "hello world"
str.capitalize()

'Hello world'

#### title() returns a string where each char after the white space and the first char of the first word as capital

In [22]:
str.title()

'Hello World'

##### Removing white spaces 
* strip function

In [ ]:
str1 = "    Soham Raut is a developer    "
str1.strip() # removes the white spaces from the start and the end

'Soham Raut is a developer'

* rstrip()

In [25]:
str1.rstrip() # only removes white spaces from the end i.e. right side

'    Soham Raut is a developer'

* lstrip()

In [27]:
str1.lstrip() # only removes white spaces from the start i.e. left side

'Soham Raut is a developer    '

In [ ]:
str2 = '''Soham Raut is a 
developer    '''
str2.strip() # but prints the \n i.e escape sequence for a new line

'Soham Raut is a \ndeveloper'

##### find() and replcae() method

In [ ]:
str3  = "Rohan is a Civil Engineer"
str3.find("Civil") # returns the position of the 1st char of that word in the string

11

In [31]:
str3.replace("Civil","Computer") # replaces civil sub-string by "computer"

'Rohan is a Computer Engineer'

##### splitting and Joining

In [ ]:
text = "mango,apple,orange"
fruits = text.split(",") # splitting by comma converts a string to list 
fruits

['mango', 'apple', 'orange']

In [ ]:
type(fruits)

list

In [41]:
",".join(fruits) # here join converts a list to a string as it was

'mango,apple,orange'

##### String Properties
* isalpha() - tells if all characters in the string are alphabets are not

In [44]:
text = 'Python9898666'
text1= "Python"
text.isalpha()

False

In [45]:
text1.isalpha()

True

* isdigit() -  returns True if all characters in the string are digits

In [47]:
text.isdigit()

False

In [48]:
nums = "12344"
nums.isdigit()

True

* isalnum() - if the strings has any one of  digits or letters then returns True

In [49]:
text.isalnum()

True

In [50]:
text1.isalnum()

True

In [52]:
special_chars = "^&*()"
special_chars.isalnum()

False

* isspace() - tells if string has only white space characters

In [56]:
text2 = " "
text2.isspace()

True

In [57]:
text.isspace()

False