In [1]:
lst = [1,2,3,4,5,6,7]
sum = 0
for i in lst:
    sum = sum + i
    
sum

28

In [2]:
for i in range(1,101):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [4]:
num = int(input())

for i in range(1,11):
    mult = num * i
    print(f"{num} * {i} = {mult}")
    i += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [8]:
num = int(input())
fact = 1
for i in range(1, num + 1):
    fact = fact * i
fact

120

* Write a loop that prints each number in the list [10, 20, 30] multiplied by 2.

In [1]:
arr = [10,20,30]

for i in arr:
    print(i * 2)

20
40
60

* Write a loop that prints each character in "python" on a separate line, but in uppercase.

In [2]:
str1 = "python"
for ch in str1:
    print(ch.upper())

P
Y
T
H
O
N

* Write a loop using range() to print the even numbers from 2 to 10 (inclusive).

In [3]:
for i in range(2,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

#### enumerate() gives you both the index and the value.

In [4]:
colors = ["red", "green", "blue"]
for index, color in enumerate(colors):
    print(index, color)

0 red
1 green
2 blue

In [7]:
words = ["hi", "hello", "hey"]
for index, word in enumerate(words):
    print(f"Word {index}: {word}")

Word 0: hi
Word 1: hello
Word 2: hey

### when using nested for loops , outer loop starts ->> inner loop finishes ->> 2nd iteration of outer loop ->> inner loop finishes

* for outer in OUTER_LIST:
    * for inner in INNER_LIST:
        *  inner loop runs fully before outer changes

In [8]:
for x in [1, 2]:
    for y in [10, 20]:
        print(x, y)

1 10
1 20
2 10
2 20

In [9]:
for x in ["a","b"]:
    for y in ["c","d"]:
        print(x,y)

a c
a d
b c
b d