#### There are 2 data structures in pandas
1. Series
2. Dataframe

In [106]:
import pandas as pd
series1 = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
series1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [107]:
df  = pd.DataFrame({"names":["Aditya","Rohan","Ashish","Mansi"], "salary":[100000,50000,60000,60000]})
df

    names  salary
0  Aditya  100000
1   Rohan   50000
2  Ashish   60000
3   Mansi   60000

In [108]:
iris_df = pd.read_csv("../data/Iris.csv")
iris_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [109]:
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [110]:
iris_df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [111]:
iris_df.describe

<bound method NDFrame.describe of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [112]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [113]:
iris_df[["Id","PetalLengthCm"]].head()

   Id  PetalLengthCm
0   1            1.4
1   2            1.4
2   3            1.3
3   4            1.5
4   5            1.4

##### iloc returns first Row of the dataset

In [114]:
iris_df.iloc[0]

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [115]:
type(iris_df.iloc[0])

pandas.core.series.Series

In [116]:
iris_df[["Id","SepalLengthCm"]]

      Id  SepalLengthCm
0      1            5.1
1      2            4.9
2      3            4.7
3      4            4.6
4      5            5.0
..   ...            ...
145  146            6.7
146  147            6.3
147  148            6.5
148  149            6.2
149  150            5.9

[150 rows x 2 columns]

#### In below dataset we have missing values shown as NaN

In [117]:
df_data = pd.read_csv("../data/data.csv")
df_data.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1.0            5.1           NaN            1.4           0.2          NaN
1  NaN            4.9           3.0            1.4           0.2  Iris-setosa
2  3.0            4.7           3.2            1.3           0.2  Iris-setosa
3  4.0            4.6           3.1            1.5           0.2  Iris-setosa
4  5.0            5.0           3.6            1.4           0.2  Iris-setosa

In [118]:
df_data.info() #shows null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             149 non-null    float64
 1   SepalLengthCm  147 non-null    float64
 2   SepalWidthCm   148 non-null    float64
 3   PetalLengthCm  149 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        148 non-null    object
dtypes: float64(5), object(1)
memory usage: 7.2+ KB

#### Steps to deal with missing values

In [119]:
df_data.fillna(0) # This fills the NaNs with specified value

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1.0,5.1,0.0,1.4,0.2,0
1,0.0,4.9,3.0,1.4,0.2,Iris-setosa
2,3.0,4.7,3.2,1.3,0.2,Iris-setosa
3,4.0,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146.0,6.7,3.0,5.2,2.3,Iris-virginica
146,147.0,6.3,2.5,5.0,1.9,Iris-virginica
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica

In [120]:
df_data.dropna() #  this deletes those row

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
2,3.0,4.7,3.2,1.3,0.2,Iris-setosa
3,4.0,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,5.0,3.6,1.4,0.2,Iris-setosa
7,8.0,5.0,3.4,1.5,0.2,Iris-setosa
8,9.0,4.4,2.9,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146.0,6.7,3.0,5.2,2.3,Iris-virginica
146,147.0,6.3,2.5,5.0,1.9,Iris-virginica
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica

##### If I add a parameter like inplace in the fillna this will permenantly fill NaNs with specified value

In [121]:
df_data.fillna(2025,inplace = True)

In [122]:
df_data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1.0,5.1,2025.0,1.4,0.2,2025
1,2025.0,4.9,3.0,1.4,0.2,Iris-setosa
2,3.0,4.7,3.2,1.3,0.2,Iris-setosa
3,4.0,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,5.0,3.6,1.4,0.2,Iris-setosa

#### How to change column name in dataFrame

In [123]:
iris_df.rename(columns={"SepalLengthCm":"SLCm"},inplace=True) # use rename keyword to change name

In [124]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SLCm           150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

#### If I want to change the data type to int for PetalLengthCm

In [125]:
# astype helps to change data type to the type we want the data to be 
iris_df["PetalLengthCm"] = iris_df["PetalLengthCm"].astype(int)

In [126]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SLCm           150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    int64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(3), int64(2), object(1)
memory usage: 7.2+ KB

In [ ]:
# tells us the length of the dataFrame, total rows
len(iris_df)

150

#### if we want to add a column to the dataframe

In [ ]:
iris_df["location"] = ["Pune" for i in range(len(iris_df))] # added a column location as string column
iris_df.head()

   Id  SLCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species location
0   1   5.1           3.5              1           0.2  Iris-setosa     Pune
1   2   4.9           3.0              1           0.2  Iris-setosa     Pune
2   3   4.7           3.2              1           0.2  Iris-setosa     Pune
3   4   4.6           3.1              1           0.2  Iris-setosa     Pune
4   5   5.0           3.6              1           0.2  Iris-setosa     Pune

#### We can apply a function on a column and add the column as new column

In [ ]:
# define a function
def cube(a):
    return a ** 3
# Applying the function to an existing column using function inside apply() method
iris_df["Cube_of_SepalWidthCm"] = iris_df["SepalWidthCm"].apply(cube)
iris_df.head()

,Id,SLCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,location,Cube_of_SepalWidthCm
0,1,5.1,3.5,1,0.2,Iris-setosa,Pune,42.875
1,2,4.9,3.0,1,0.2,Iris-setosa,Pune,27.000
2,3,4.7,3.2,1,0.2,Iris-setosa,Pune,32.768
3,4,4.6,3.1,1,0.2,Iris-setosa,Pune,29.791
4,5,5.0,3.6,1,0.2,Iris-setosa,Pune,46.656

#### If we want to save the updated dataFrame to a csv or excel format

In [ ]:
# here if we set index to False the index column : 0,1,2,3 will not be added as a column
iris_df.to_csv("../data/export.csv", index=False)

#### Way to merge 2 dataFrames

In [136]:
df_1 = pd.DataFrame({
    "name":["Aditya","Rohan","Soham","Roshni","Amrita"],
    "age":[20,34,11,34,56]
})
df_1

     name  age
0  Aditya   20
1   Rohan   34
2   Soham   11
3  Roshni   34
4  Amrita   56

In [138]:
df_2 = pd.DataFrame({
    "name":["Sam","Alex","Sona","Ram","Amol"],
    "age":[20,32,11,34,23]
})
df_2

   name  age
0   Sam   20
1  Alex   32
2  Sona   11
3   Ram   34
4  Amol   23

In [ ]:
# concat() method merges the 2 dataframes
pd.concat([df_1,df_2])

     name  age
0  Aditya   20
1   Rohan   34
2   Soham   11
3  Roshni   34
4  Amrita   56
0     Sam   20
1    Alex   32
2    Sona   11
3     Ram   34
4    Amol   23